<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <link href="style.css" rel="stylesheet">
	  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'>
  	<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'>

	  </script>
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <p>Your username: <%= username %></p>
    <p>Your password: <%= password %></p>
    <form action="/changePass" method="get">
      <label for="password">New password:<label>
      <input type="text" id="password" name="password"><br><br>
      <input type="submit" value="Submit!" class="waves-effect waves-light btn green"><br><br>
    </form>
    <button onclick="location.href='/didLogin?password=NamTheDuck'" class='waves-effect waves-light btn green'>Go back</button>
    <script src="script.js"></script>
  </body>
</html>