* {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  text-align: center;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dddcdc; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

hr {
  border: 2px solid rgb(253, 73, 73);
}

button {
  border: none;
  cursor: pointer;
}

.items {
  background: yellow;
  border: 2px outset orange;
}

.news-tcontainer {
  width: 100%;
  overflow: hidden;
}

.news-ticker {
  border: 2px solid black;
  border-radius: 15px;
}

.news-ticker-wrap {
  width: 100%;
  padding-left: 100%;
  border-radius: 15px;
}

.news-ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation: ticker 15s infinite;
}

.ach {
  background: gray;
  border-radius: 10px;
  font-family: 'Segoe UI Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ach > i {
  font-family: inherit;
}

.ach.complete {
  background: green;
}

@keyframes ticker {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}